# dependencies
/node_modules

# next.js
/.next/
/out/

# output
/build
**SimulationEngine

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.sample

# typescript
*.tsbuildinfo
next-env.d.ts

# pocketbase
/pocketbase
/pb_data
